main {

margin: 0 20px 0 20px;

  ul {
    padding-left: 0px;
  }

  ul li {
    list-style: none;
  }

  .panel-heading {
    font-size: .7em;
    line-height: 3px;
  }

  .panel-body {
    line-height: 5px;
  }


}
